<h1>Restaurants</h1>>

<% @restaurants.each do |restaurant| %>
  <h3>Name: <%= restaurant.name %></h3>
  <p>Rating: <%= restaurant.rating %></p>
  <p>Address: <%= restaurant.address %></p>
  <p>Phone Number: <%= restaurant.phone_number %></p>
<% end %>
