---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=Chinese&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jGtOUGX64FxHcnLyjScifyGqn_pwqj_tF-TSjWOSRe6UxL6HJVYy_v09SdZFhwaYJiUGBbuErMh1SWtcXIXiQVRceOePcJJp-CmrqaRFIzdELmoJgi_YZYpMcH_bYXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - a9db3218bbb1d037
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--uswest2-b478b4d87-hvhbq; site=public_api_v3
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Resettime:
      - '2022-01-11T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "gagUrh3806qc5hZ14F0Odw", "alias": "denver-biscuit-denver-9",
        "name": "Denver Biscuit", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/bxPN9shgJEtwvT3Hrf_pCg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/denver-biscuit-denver-9?adjust_creative=2viZ_G1-JEyYqEZWrWWfDQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=2viZ_G1-JEyYqEZWrWWfDQ",
        "review_count": 4032, "categories": [{"alias": "sandwiches", "title": "Sandwiches"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating": 4.5,
        "coordinates": {"latitude": 39.740384, "longitude": -104.949098}, "transactions":
        ["delivery", "pickup"], "price": "$$", "location": {"address1": "3237 E Colfax
        Ave", "address2": "", "address3": null, "city": "Denver", "zip_code": "80206",
        "country": "US", "state": "CO", "display_address": ["3237 E Colfax Ave", "Denver,
        CO 80206"]}, "phone": "+13033777900", "display_phone": "(303) 377-7900", "distance":
        1887.2489668123706}, {"id": "dnJvyhSPiIVlmpdM_3SCrg", "alias": "snooze-an-a-m-eatery-denver-12",
        "name": "Snooze, an A.M. Eatery", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/cniSi66T4iS6nqCdML6HUQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snooze-an-a-m-eatery-denver-12?adjust_creative=2viZ_G1-JEyYqEZWrWWfDQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=2viZ_G1-JEyYqEZWrWWfDQ",
        "review_count": 4433, "categories[...]
