---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=Denver,%20CO&location=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jGtOUGX64FxHcnLyjScifyGqn_pwqj_tF-TSjWOSRe6UxL6HJVYy_v09SdZFhwaYJiUGBbuErMh1SWtcXIXiQVRceOePcJJp-CmrqaRFIzdELmoJgi_YZYpMcH_bYXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2022-01-11T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-b478b4d87-6p6mx; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      X-Zipkin-Id:
      - f168a093eada3cf0
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-184-36-uswest2bprod
      X-Extlb:
      - 10-69-184-36-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "1ZACfh-FZH6M_fWiB2dFow", "alias": "lannings-downtown-grill-coffeyville-2",
        "name": "Lanning''s Downtown Grill", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/lq44Sz6X3VVealB4kFJLIw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/lannings-downtown-grill-coffeyville-2?adjust_creative=2viZ_G1-JEyYqEZWrWWfDQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=2viZ_G1-JEyYqEZWrWWfDQ",
        "review_count": 64, "categories": [{"alias": "tradamerican", "title": "American
        (Traditional)"}, {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}],
        "rating": 4.0, "coordinates": {"latitude": 37.0349, "longitude": -95.61576},
        "transactions": [], "price": "$$", "location": {"address1": "111 W 9th St",
        "address2": "", "address3": "", "city": "Coffeyville", "zip_code": "67337",
        "country": "US", "state": "KS", "display_address": ["111 W 9th St", "Coffeyville,
        KS 67337"]}, "phone": "+16202518255", "display_phone": "(620) 251-8255", "distance":
        1263.9066455961695}, {"id": "cK2z6W4vmZVdIX88S1nOtg", "alias": "el-pueblito-mexican-restaurant-coffeyville",
        "name": "El Pueblito Mexican Restaurant", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/mkCsIeKZuE5ZiTnwLkmB9A/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/el-pueblito-mexican-restaurant-coffeyville?adjust_creative=2viZ_G1-JEyYqEZWrWWfDQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=2viZ_G1-JEyYqEZWrWWfDQ",
        "[...]
