---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?bearer=jGtOUGX64FxHcnLyjScifyGqn_pwqj_tF-TSjWOSRe6UxL6HJVYy_v09SdZFhwaYJiUGBbuErMh1SWtcXIXiQVRceOePcJJp-CmrqaRFIzdELmoJgi_YZYpMcH_bYXYx&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-b478b4d87-5pwdl; site=public_api_v3
      X-Zipkin-Id:
      - 69bc242cafd59209
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-130-205-uswest2bprod
      X-Extlb:
      - 10-69-130-205-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Authorization
        is a required parameter.", "field": "Authorization", "instance": null}}'
  recorded_at: Mon, 10 Jan 2022 01:21:01 GMT
recorded_with: VCR 6.0.0
